extends layout

block content
  .container
    table.table.table-striped.table-sm.table-bordered
      each val in events
        if val 
          tr
            td= val.activity_startDate + '  ' + val.activity_Time
            td= val.venue_Name
            td
              for orig_artist in val.orig_artists 
                p= orig_artist.name
            td
              for artist in val.artists 
                if artist.best 
                  p.text-success= artist.dbname
                else if artist.dbname !== ''
                  p.text-info= artist.dbname 
                else 
                  p= artist.origname 
            td
              if val.urls.length > 0
                for url in val.urls 
                  p= url
