extends layout

block content
  .container
    each val in events
      if val 
        .row
          .col= val.activity_startDate + '  ' + val.activity_Time
          .col= val.venue_Name
          .col
            .row
              for orig_artist in val.orig_artists 
              .col= orig_artist.name
          .col
            .row
              for artist in val.artists 
                if artist.best 
                  .col=artist.dbname + ' == FOUND'
                else if artist.dbname !== ''
                  .col=artist.dbname 
                else 
                  .col=artist.origname 
          .col
            if val.urls.length > 0
              for url in val.urls 
                p= url 
