extends layout

block content
  .container-fluid
    form
      table.table.table-striped.table-sm.table-bordered.table-responsive
        thead
          tr
            td.w-25 Info
            td.w-25 Artists
            td.w-25 Blurb
            td.w-25 URLs
        tbody
          each val in events
            if val 
              tr
                td
                  .form-check
                    input(type="checkbox" class="form-check-input" id="keep")
                    label(class="form-check-label" for="keep")
                      span.text-nowrap= val.activity_startDate
                      br
                      span.text-nowrap= val.activity_Time
                      br
                      span.text-nowrap= val.venue_Name
                      br
                      for orig_artist in val.orig_artists 
                        span= orig_artist.name
                        br
                td
                  for artist in val.artists 
                    if artist.best 
                      .form-check
                        input(type="checkbox" class="form-check-input" id="exampleCheck1")
                        label(class="form-check-label text-success" for="exampleCheck1")= artist.dbname
                    else if artist.dbname !== ''
                      .form-check
                        input(type="checkbox" class="form-check-input" id="exampleCheck1")
                        label(class="form-check-label text-info" for="exampleCheck1")= artist.dbname
                    else 
                      .row
                        label(for='newartistname' class='col-sm-4 col-form-label') Artist Name
                        .col-sm-8
                          input(class='form-control-sm' type='text' id='newartistname' value=artist.origname)
                      .row
                        label(for='newartist_twitter' class='col-sm-4 col-form-label') Artist Twitter
                        .col-sm-8
                          input(class='form-control-sm' type='text' id='newartist_twitter')
                      .row
                        label(for='newartist_url' class='col-sm-4 col-form-label') Artist URL
                        .col-sm-8
                          input(class='form-control-sm' type='text' id='newartist_url')
                td
                  textarea(class='form-control-sm' id='blurb' rows='3')= val.activity_Blurb
                td
                  if val.urls.length > 0
                    for url in val.urls 
                      p.text-break= url
