extends layout

block content
  .container-fluid
    form(method='post', action='/events-add', role='form')
      table.table.table-striped.table-sm.table-bordered.table-responsive
        thead
          tr
            td.w-25 Info
            td.w-25 Artists
            td.w-25 Blurb
            td.w-25 URLs
        tbody
          each val, evtidx in events
            if val 
              input(type='hidden' name=`${val.activity_API_ID}[activity_API_ID]` value=val.activity_API_ID)
              input(type='hidden' name=`${val.activity_API_ID}[activity_startDate]` value=val.activity_startDate)
              input(type='hidden' name=`${val.activity_API_ID}[activity_Time]` value=val.activity_Time)  
              input(type='hidden' name=`${val.activity_API_ID}[activity_venueID]` value=val.venue_ID)            
              tr
                td
                  .form-check
                    input(type="checkbox" class="form-check-input" id=`${val.activity_API_ID}[keep]` name=`${val.activity_API_ID}[keep]` checked)
                    label(class="form-check-label" for=`${val.activity_API_ID}[keep]`)
                      span.text-nowrap= val.activity_startDate
                      br
                      span.text-nowrap= val.activity_Time
                      br
                      span.text-nowrap= val.venue_Name
                      br
                      ul.list-unstyled
                        for orig_artist in val.orig_artists 
                          li= orig_artist.name
                td
                  ul.list-unstyled
                    each artist, index in val.artists 
                      - let even = index % 2 === 0
                      li(class=even ? 'bg-light' : 'bg-transparent')
                        if artist.best 
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`${val.activity_API_ID}[artistid][${index}]` name=`${val.activity_API_ID}[artistid][${index}]` value=artist.id checked)
                            label(class="form-check-label text-success" for=`${val.activity_API_ID}[artistid][${index}]`)= artist.dbname
                        else if artist.dbname !== ''
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`${val.activity_API_ID}[artistid][${index}]` name=`${val.activity_API_ID}[artistid][${index}]` value=artist.id)
                            label(class="form-check-label text-info" for=`${val.activity_API_ID}[artistid][${index}]`)= artist.dbname
                        else
                          .row
                            label(class="form-check-label col-sm-4" for=`${val.activity_API_ID}[addone][${index}]`) add 
                            .col-sm-8
                              input(type="checkbox" class="form-check-input" id=`${val.activity_API_ID}[addone][${index}]` name=`${val.activity_API_ID}[addone][${index}]`)
                          .row
                            label(for=`${val.activity_API_ID}[newartistname][${index}]` class='col-sm-4 col-form-label') Artist Name
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartistname][${index}]` name=`${val.activity_API_ID}[newartistname][${index}]` value=artist.origname)
                          .row
                            label(for=`${val.activity_API_ID}[newartist_twitter][${index}]` class='col-sm-4 col-form-label') Artist Twitter
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartist_twitter][${index}]` name=`${val.activity_API_ID}[newartist_twitter][${index}]`)
                          .row
                            label(for=`${val.activity_API_ID}[newartist_url][${index}]` class='col-sm-4 col-form-label') Artist URL
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartist_url][${index}]` name=`${val.activity_API_ID}[newartist_url][${index}]`)
                    - let even = val.artists.length % 2 === 0
                    li(class=even ? 'bg-light' : 'bg-transparent')
                      .row
                        label(class="form-check-label col-sm-4" for=`${val.activity_API_ID}[addone2]`) add 
                        .col-sm-8
                          input(type="checkbox" class="form-check-input" id=`${val.activity_API_ID}[addone2]` name=`${val.activity_API_ID}[addone2]`)
                      .row
                        label(for=`${val.activity_API_ID}[newartistname2]` class='col-sm-4 col-form-label') Artist Name
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartistname2]` name=`${val.activity_API_ID}[newartistname2]`)
                      .row
                        label(for=`${val.activity_API_ID}[newartist_twitter2]` class='col-sm-4 col-form-label') Artist Twitter
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartist_twitter2]` name=`${val.activity_API_ID}[newartist_twitter2]`)
                      .row
                        label(for=`${val.activity_API_ID}[newartist_url2]` class='col-sm-4 col-form-label') Artist URL
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`${val.activity_API_ID}[newartist_url2]` name=`${val.activity_API_ID}[newartist_url2]`)
                td
                  textarea(class='form-control-sm' id=`${val.activity_API_ID}[blurb]` name=`${val.activity_API_ID}[blurb]` rows='3')= val.activity_Blurb
                td
                  if val.urls.length > 0
                    ul.list-unstyled
                      for url in val.urls 
                        li.text-break= url
      button.btn.btn-default(type='submit') Submit
