extends layout

block content
  .container-fluid
    form(method='post', action='/events-json', role='form' id='eventform')
      table.table.table-striped.table-sm.table-bordered.table-responsive
        thead
          tr
            td.w-25 Info
            td.w-25 Artists
            td.w-25 Blurb
            td.w-25 URLs
        tbody
          each val, evtidx in events
            if val 
              - let dbevent = false
              - let skip = false
              - if (typeof val.dbevent !== 'undefined')
                - dbevent = true
              - for (orig_artist of val.orig_artists)
                - let reg1 = /tribute/gi;
                - let reg2 = /tarot/gi;
                - let reg3 = /symphony/gi;
                - if (reg1.test(orig_artist.name) || reg2.test(orig_artist.name) || reg3.test(orig_artist.name))
                  - skip = true
              input(type='hidden' name=`events[${evtidx}][activity_API_ID]` value=val.activity_API_ID)
              input(type='hidden' name=`events[${evtidx}][activity_API]` value=val.activity_API)
              input(type='hidden' name=`events[${evtidx}][activity_startDate]` value=val.activity_startDate)
              input(type='hidden' name=`events[${evtidx}][activity_Time]` value=val.activity_Time)  
              input(type='hidden' name=`events[${evtidx}][activity_venueID]` value=val.venue_ID)            
              tr
                td
                  .form-check
                    if dbevent === false && skip === false
                      input(type="checkbox" class="form-check-input" id=`events[${evtidx}][keep]` name=`events[${evtidx}][keep]` value="yes" checked)
                      label(class="form-check-label" for=`events[${evtidx}][keep]`) 
                    else
                      input(type="checkbox" class="form-check-input" id=`events[${evtidx}][keep]` name=`events[${evtidx}][keep]` value="yes")
                      label(class="form-check-label" for=`events[${evtidx}][keep]`) 
                  span.text-nowrap= val.activity_startDate
                  br
                  span.text-nowrap= val.activity_Time
                  br
                  span.text-nowrap= val.venue_Name
                  br
                  ul.list-unstyled
                    for orig_artist in val.orig_artists 
                      li= orig_artist.name
                  if dbevent === true
                    .bg-warning
                      - const startDate = dayjs(val.dbevent.activity_StartDate).tz("America/New_York").format('YYYY-MM-DD');
                      span= startDate
                      br
                      span= val.dbevent.activity_Time
                      br
                      span= val.dbevent.venue_Name
                      br
                      ul.list-unstyled
                        for actor in val.dbevent.actors
                          li= actor.actor_Name
                td
                  ul.list-unstyled
                    each artist, index in val.artists 
                      - let even = index % 2 === 0
                      li(class=even ? 'bg-light' : 'bg-transparent')
                        if artist.best 
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`events[${evtidx}][existing_artists][${index}][artistid]` name=`events[${evtidx}][existing_artists][${index}][artistid]` value=artist.id checked)
                            label(class="form-check-label text-success" for=`events[${evtidx}][existing_artists][${index}][artistid]`)= artist.dbname
                        else if artist.dbname !== ''
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`events[${evtidx}][existing_artists][${index}][artistid]` name=`events[${evtidx}][existing_artists][${index}][artistid]` value=artist.id)
                            label(class="form-check-label text-info" for=`events[${evtidx}][existing_artists][${index}][artistid]`)= artist.dbname
                        else
                          .row
                            label(class="form-check-label col-sm-4" for=`events[${evtidx}][new_artists][][addone]`)
                            .col-sm-8 
                              input(type="checkbox" class="form-check-input" id=`events[${evtidx}][new_artists][${index}][addone]` name=`events[${evtidx}][new_artists][${index}][addone]` value='add' checked)
                          .row
                            label(for=`events[${evtidx}][new_artists][${index}][artist_name]` class='col-sm-4 col-form-label') Artist Name
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][${index}][artist_name]` name=`events[${evtidx}][new_artists][${index}][artist_name]` value=artist.origname)
                          .row
                            label(for=`events[${evtidx}][new_artists][${index}][artist_twitter]` class='col-sm-4 col-form-label') Artist Twitter
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][${index}][artist_twitter]` name=`events[${evtidx}][new_artists][${index}][artist_twitter]`)
                          .row
                            label(for=`events[${evtidx}][new_artists][${index}][artist_url]` class='col-sm-4 col-form-label') Artist URL
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][${index}][artist_url]` name=`events[${evtidx}][new_artists][${index}][artist_url]`)
                    - let even = val.artists.length % 2 === 0
                    li(class=even ? 'bg-light' : 'bg-transparent')
                      .row
                        label(class="form-check-label col-sm-4" for=`events[${evtidx}][new_artists][0][addone]`)
                        .col-sm-8
                          input(type="checkbox" class="form-check-input" id=`events[${evtidx}][new_artists][0][addone]` name=`events[${evtidx}][new_artists][${val.artists.length}][addone]` value='add')
                      .row
                        label(for=`events[${evtidx}][new_artists][0][artist_name]` class='col-sm-4 col-form-label') Artist Name
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][0][artist_name]` name=`events[${evtidx}][new_artists][${val.artists.length}][artist_name]`)
                      .row
                        label(for=`events[${evtidx}][new_artists][0][artist_twitter]` class='col-sm-4 col-form-label') Artist Twitter
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][0][artist_twitter]` name=`events[${evtidx}][new_artists][${val.artists.length}][artist_twitter]`)
                      .row
                        label(for=`events[${evtidx}][new_artists][0][artist_url]` class='col-sm-4 col-form-label') Artist URL
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][new_artists][0][artist_url]` name=`events[${evtidx}][new_artists][${val.artists.length}][artist_url]`)
                td
                  textarea(class='form-control-sm' id=`events[${evtidx}][blurb]` name=`events[${evtidx}][blurb]` rows='3')= val.activity_Blurb
                td
                  if val.urls.length > 0
                    ul.list-unstyled
                      for url in val.urls 
                        li.text-break= url
      button.btn.btn-default(type='submit' id='eventform-submit') Submit
