extends layout

block content
  .container-fluid
    form(method='post', action='/events-add', role='form')
      table.table.table-striped.table-sm.table-bordered.table-responsive
        thead
          tr
            td.w-25 Info
            td.w-25 Artists
            td.w-25 Blurb
            td.w-25 URLs
        tbody
          each val, evtidx in events
            if val 
              input(type='hidden' name=`events[${evtidx}][activity_API_ID]` value=val.activity_API_ID)
              input(type='hidden' name=`events[${evtidx}][activity_startDate]` value=val.activity_startDate)
              input(type='hidden' name=`events[${evtidx}][activity_Time]` value=val.activity_Time)  
              input(type='hidden' name=`events[${evtidx}][activity_venueID]` value=val.venue_ID)            
              tr
                td
                  .form-check
                    input(type="checkbox" class="form-check-input" id=`events[${evtidx}][keep]` name=`events[${evtidx}][keep]` value="yes" checked)
                    label(class="form-check-label" for=`events[${evtidx}][keep]`) 
                  span.text-nowrap= val.activity_startDate
                  br
                  span.text-nowrap= val.activity_Time
                  br
                  span.text-nowrap= val.venue_Name
                  br
                  ul.list-unstyled
                    for orig_artist in val.orig_artists 
                      li= orig_artist.name
                td
                  ul.list-unstyled
                    each artist, index in val.artists 
                      - let even = index % 2 === 0
                      li(class=even ? 'bg-light' : 'bg-transparent')
                        if artist.best 
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`events[${evtidx}][${index}][artistid]` name=`events[${evtidx}][${index}][artistid]` value=artist.id checked)
                            label(class="form-check-label text-success" for=`events[${evtidx}][${index}][artistid]`)= artist.dbname
                        else if artist.dbname !== ''
                          .form-check
                            input(type="checkbox" class="form-check-input" id=`events[${evtidx}][${index}][artistid]` name=`events[${evtidx}][${index}][artistid]` value=artist.id)
                            label(class="form-check-label text-info" for=`events[${evtidx}][${index}][artistid]`)= artist.dbname
                        else
                          .row
                            .form-check
                              label(class="form-check-label" for=`events[${evtidx}][${index}][addone]`) add 
                              input(type="checkbox" class="form-check-input" id=`events[${evtidx}][${index}][addone]` name=`events[${evtidx}][${index}][addone]` value='add' checked)
                          .row
                            label(for=`events[${evtidx}][${index}][newartistname]` class='col-sm-4 col-form-label') Artist Name
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][${index}][newartistname]` name=`events[${evtidx}][${index}][newartistname]` value=artist.origname)
                          .row
                            label(for=`events[${evtidx}][${index}][newartist_twitter]` class='col-sm-4 col-form-label') Artist Twitter
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][${index}][newartist_twitter]` name=`events[${evtidx}][${index}][newartist_twitter]`)
                          .row
                            label(for=`events[${evtidx}][${index}][newartist_url]` class='col-sm-4 col-form-label') Artist URL
                            .col-sm-8
                              input(class='form-control-sm' type='text' id=`events[${evtidx}][${index}][newartist_url]` name=`events[${evtidx}][${index}][newartist_url]`)
                    - let even = val.artists.length % 2 === 0
                    li(class=even ? 'bg-light' : 'bg-transparent')
                      .row
                        .form-check
                          label(class="form-check-label" for=`events[${evtidx}][${val.artists.length}][addone]`)
                          input(type="checkbox" class="form-check-input" id=`events[${evtidx}][${val.artists.length}][addone]` name=`events[${evtidx}][${val.artists.length}][addone]` value='add' checked)
                      .row
                        label(for=`events[${evtidx}][${val.artists.length}][newartistname]` class='col-sm-4 col-form-label') Artist Name
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][${val.artists.length}][newartistname]` name=`events[${evtidx}][${val.artists.length}][newartistname]`)
                      .row
                        label(for=`events[${evtidx}][${val.artists.length}][newartist_twitter]` class='col-sm-4 col-form-label') Artist Twitter
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][${val.artists.length}][newartist_twitter]` name=`events[${evtidx}][${val.artists.length}][newartist_twitter]`)
                      .row
                        label(for=`events[${evtidx}][${val.artists.length}][newartist_url]` class='col-sm-4 col-form-label') Artist URL
                        .col-sm-8
                          input(class='form-control-sm' type='text' id=`events[${evtidx}][${val.artists.length}][newartist_url]` name=`events[${evtidx}][${val.artists.length}][newartist_url]`)
                td
                  textarea(class='form-control-sm' id=`events[${evtidx}][blurb]` name=`events[${evtidx}][blurb]` rows='3')= val.activity_Blurb
                td
                  if val.urls.length > 0
                    ul.list-unstyled
                      for url in val.urls 
                        li.text-break= url
      button.btn.btn-default(type='submit') Submit
